*{
	padding: 0;
	margin: 0;
	font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
#header{
	padding: 7px 8px;
	border-top: 1px solid #ECEEF1;
	border-bottom: 1px solid #ECEEF1;
	width: 1300px;
	margin: auto;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
#logo,#left-side,#left,#search,#support,#search-main,#more-app{
	float: left;
}
#left{
	min-width: 208px;
	padding-right: 30px;
}
#left-side{
	width: 24px;
	height: 24px;
	margin: 0px 4px;
	padding: 12px;
	display: inline-block;
}
.humburger{
	width: 18px;
	height: 2px;
	display: block;
	background-color: rgb(95,90,104);
	margin: 3px;
}
#btn{
	border: none;
	outline: none;
	background-color: transparent;
	padding-top: 3px;
	cursor: pointer;
}
#search{
	padding: 0px 30px 0px 10px;
}
.span{
	display: inline-block;
    border: none;
    background: none;
    font-size: 18px;
    color: #5F6368;
    width: 24px;
    margin: 3px;
    padding: 8px;
    line-height: 24px;
    text-align: center;
}
.search_btn{
	display: inline-block;
    border: none;
    background: none;	
    padding: 0px 5px;
    float: left;
}
.search1_btn{
	display: inline-block;
    border: none;
    background: none;	
    float: left;
    padding-top: 8px;
}
.span1{
	display: inline-block;
    border: none;
    background: none;
    font-size: 18px;
    color: #5F6368;
    width: 24px;
    margin: 3px;
    line-height: 24px;
    text-align: center;
}
.down{
	font-size: 14px;
}
#ip{
	display: inline-block;
	float: left;
	padding: 14px 0px;
	width: 579px;
}
#form1{
	margin-right: 142px;
}
#form{
	border:1px solid;
	background: #F1F3F4;
    border-color: transparent;
    border-radius: 7px;
}
.input{
	width: 100%;
	border:none;
	outline: none;
	font:16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	background-color:#F1F3F4;
}
.fa-search{
	transform: rotate(2deg);
}
.s{
	width: 2px;
    height: 2px;
    background: #000;
    border: 1px solid;
    display: inline-block;
    border-radius: 50%;
}
.span2{
	display: inline-block;
    border: none;
    background: none;
    font-size: 18px;
    color: #5F6368;
    width: 24px;
    margin: 3px;
    padding: 8px;
    line-height: 24px;
    text-align: center;
}
.span2 div{
	height: 7px;
}
#left-side:hover{
	border-radius: 50%;
	background-color: #F1F3F4;

}
.span:hover{
	border-radius: 50%;
	background-color: #c6cacc;
}
.sp2:hover{
	border-radius: 50%;
	background-color: #ebeced;
}