		*{
			padding: 0;
			margin: 0;
			font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
		}
		#header{
			padding: 7px 8px;
			border-top: 1px solid #ECEEF1;
			border-bottom: 1px solid #ECEEF1;
			display: block;
			position: relative;
		}
		.clearfix::after{
			content: "";
			display: block;
			clear: both;
		}
		#logo,#left-side,#left,#search,#form,#support,#search-main,#more-app{
			float: left;
		}
		#user-right,#user{
			float: right;
		}
		
		#left-side{
			width: 24px;
			height: 24px;
			margin: 0px 4px;
			padding: 12px;
			display: inline-block;
			cursor: pointer;
		}
		.humburger{
			width: 18px;
			height: 2px;
			display: block;
			background-color: rgb(95,90,104);
			margin: 3px;
			position: absolute;
			top: 28px;
		}
		.humburger::before,.humburger::after{
			content: "";
			width: 18px;
			height: 2px;
			display: block;
			background-color: rgb(95,90,104);
			margin: 3px;
			position: absolute;
		}
		.humburger::before{
			top: -8px;
			left: -3px;
		}
		.humburger::after{
			top: 2px;
			left: -3px;
		}
		#search-main{
			padding-left: 59px;
		}
		.search_btn{
			opacity: 0.5;
    		display: inline-block;
   			border: none;
    		background: none;
    		float: left;
    		outline: none;
    		width: 30px;
    		height: 30px;
    		text-align: center;
    		font-size: 18px;
    		line-height: 31px;
    		color: #000;
    		cursor: pointer;
    		padding:4px;
    		cursor: pointer;
    		margin: 4px;
		}
		.search1_btn{
			display: inline-block;
    		border: none;
    		position: relative;
    		background: none;
    		float: left;
    		padding-top: 10px;
    		outline: none;
    		font-size: 20px;
    		width: 14px;
    		color: #000;
    		opacity: 0.5;
		}
		.down{
			font-size: 14px;
		}
		#ip{
			display: inline-block;
			float: left;
			padding: 14px 0px;
			width: 579px;
		}
		#search1{
			width: 614px;
			border:1px solid;
			background: #F1F3F4;
		    border-color: transparent;
		    border-radius: 7px;
		    position: relative;
		}
		#form{
			width: 508px;
			padding:14px 0px 14px 0px;
		}
		.input{
			width: 100%;
			border:none;
			outline: none;
			font:16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
			background-color:#F1F3F4;
		}
		.fa-search{
			transform: rotate(2deg);
		}
		.support{
    		width: 32px;
    		height: 32px;
    		text-align: center;
    		line-height: 35px;
    		font-size: 25px;
    		color: #000;
    		opacity: 0.4;
    		display: block;
    		float: left;
    		padding:4px;
		}
		
		.span2 div{
			height: 7px;
		}
		#left-side:hover{
			border-radius: 50%;
			background-color: #F1F3F4;

		}
		.search_btn:hover{
			border-radius: 50%;
			background-color: #c6cacc;
		}
		#more-app:hover{
			border-radius: 50%;
			background-color: #ebeced;
		}
		.support:hover{
			border-radius: 50%;
			background-color: #ebeced;
		}
		#support{
			margin-top: 5px;
		}
		.op:hover{
			background-color: #F1F3F4;

		}
		.user{
			display: block;
			float: left;
   			width: 32px;
    		height: 32px;
    		text-align: center;
    		padding: 4px;
    		margin-top: 4px;
    		cursor: pointer;
		}
		#more-app{
			margin-top: 3px;
			position: relative;
    		float: left;
    		width: 36px;
    		height: 36px;
    		text-align: center;
    		padding:4px;
		}
		.more{
			display: block;
			width: 24px;
			height: 24px;
			text-align: center;
			text-decoration: none;
			float: left;
			margin-top: 10px;
			margin-left: 9px;
			position: relative;
		}
		.s1,.s2,.s3{
			width: 2px;
			height: 2px;
			display: inline-block;
			background-color: #000;
			float: left;
			margin: 1px;
			border-radius: 50%;
			border: 1px solid transparent;
			opacity: 0.5;
		}
		.s1::before,.s2::before,.s3::before,.s1::after,.s2::after,.s3::after{
			content: "";
			width: 2px;
			height: 2px;
			display: inline-block;
			background-color: #000;
			position: absolute;
			margin: 1px;
			border-radius: 50%;
			border:1px solid transparent;
		}
		.s1::before{
			top: 6px;
			right: 6px;
		}
		.s2::before{
			top: 6px;
			right: 18px;
		}
		.s3::before{
			top: 12px;
			right: 12px;
		}
		.s1::after{
			top: 6px;
			right: 12px;
		}
		.s2::after{
			top: 12px;
			right: 6px;
		}
		.s3::after{
			top: 12px;
			right: 18px;
		}
		#ud{
			border-radius: 50%;
		}
		.user:hover{
			border-radius: 50%;
			background-color: #c6cacc;
		}
		#show-search-option{
			background-color: #fff;
			display: flex;
			flex-direction: row;
			border:1px solid transparent;
			width: 612px;
			height: 440px;
			box-shadow: 0px 1px 2.3px 0px rgba(104,106,112,1),1px 0px 2px 0px rgba(104,106,112,0);
			position: absolute;
			top: 48px;
	    	left: 1px
		}
		#search-content{
			padding: 24px;
		}
		.sso{
			margin-bottom: 20px;
		}
		.span-sso{
			display: inline-block;
			margin-right: 32px;
			min-width: 88px;
			height: 20px;
			font-size: 14px;
			font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
		}
		.input-sso{
			display: inline-block;
			width: 77%;
			float: right;
			border: none;
			border-bottom: 1px solid #ECEEF1;
			outline:none;
		}
		.sso-select{
			width: 138px;
	   		margin-right: 20px;
	    	border: none;
	    	display: flex;
	    	flex-direction: row;
	    	font-size: 14px;
	    	margin-bottom: 20px;
		}
		.select{
			display: flex;
		}
		.selects{
			width: 133px;
	  		 margin-right: 20px;
	   		border: none;
	    	background: transparent;
	    	border-bottom: 1px solid #ECEEF1;
	    	outline: none;
	    	cursor: pointer;
		}
		.op{
			text-align: center;
		}
		.select-input{
			width: 138px;
	    	margin-right: 20px;
	    	border: none;
	    	border-bottom: 1px solid #eceef1;
		}
		.selects-byte{
			width: 132px;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid #ECEEF1;
			outline: none;
			cursor: pointer;
		}
		.date-ip{
			width: 280px;
			display: inline-block;
			border: none;
			outline: none;
			border-bottom: 1px solid #ECEEF1;
		}
	#left-path{
		float: left;
		width: 256px;
	}
	.compose-box{
		margin:16px 0px;
		margin-left:10px;

	}
	.compose{
		width: 134px;
		height: 52px;
		display: inline-flex;
		background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
		background-repeat: no-repeat;
    	background-position: 10px;
    	text-decoration: none;
    	border: 1px solid transparent;
    	border-radius:24px;
    	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.4), 0 1px 2px 1px rgba(60,64,67,0.4);
	}
	.compose-text{
		font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
		font-size: 14px;
    	display: block;
    	line-height: 51px;
    	padding-left: 56px;
    	color: #5A4F49;
	}
	.compose:hover{
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background-position: 10px;
	}
	.compose:hover .compose-text{
		display: none;
	}
	#mail-menu{
		overflow: auto;
		overflow-x: hidden;
		max-height: 150px;
	}
	.menu{
		display: flex;
		height: 32px;
		text-align: center;
		padding: 0px 12px 0px 26px;
		font-size: 14px;
		cursor: pointer;
	}
	.img{
		display: inline-block;
		text-decoration:none;
		margin-right: 18px;
		height: 20px;
		padding: 0;
		margin-top: 7px;
		
	}
	.im{
		opacity: 0.5;
	}
	.name{
		display: inline-block;
		margin-right: 36px;
		margin-top: 2px;

	}
	.con{
		margin-top: 7px;
		display: flex;
	}
	.count{
		display: inline-block;
		width: 15px;
		margin-left: 52px;
	}
	.drop{
		font-size: 15px;
	}
	.count1{
		margin-left: 48px;
	}
	.me{
		padding: 0;
	}
	.mes{
		display: inline-block;
		line-height:34px;
		margin-left: 5px;
		margin-right: 16px;
	}
	.fa-tag{
		transform: rotate(134deg);
		font-size: 21px;
		color: #767676;
	}
	
	.dpcon{
		text-align:left;
		height: 20px;
		width: 443px;
		border-bottom: 1px solid #eceef1;
		cursor: pointer;
	}
	.dpbtn{
		position: absolute;
		top: 1px;
		left: 434px;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#dropdown-content{
		position: absolute;
		top: -8px;
		left: -11px;
		overflow-x:hidden;
		max-height: 200px; 
		background-color: #fff;
		border: 1px solid transparent;
		box-shadow: 0px 0px 6px 5px rgba(196,196,196,1);
	}
	#ulcontent{
		text-decoration:none;
		padding:0px;

	}
	.li-content{
		width: 200px;
		height: 35px;
		text-align:left;
		padding-left: 10px;
		line-height: 30px;
	}
	.li-content:hover{
		background-color: #F3F3F3;
	}
	.dpcon:hover{
		background-color: #F1F3F4;
		border-radius: 5px;
	}